<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mt.film.dao.FilmDao">

   <!-- <insert id="createFilm" parameterType="Film" useGeneratedKeys="true" keyProperty="film_id">
        insert into Film(film_name,create_time,release_date,actor,director,poster,introduction,type_id,LANGUAGE,duration)
         values(#{film_name},
        #{create_time},
        #{release_date},
        #{actor},
        #{director},
        #{poster},
        #{introduction},
        #{type_id},
        #{language},
        #{duration});
    </insert>-->

        <!--Column对应数据库字段 property对应java实体类 -->
    <resultMap id="FilmResultMap" type="com.mt.film.entity.FilmDTO">
        <id column="film_id" property="filmId" />
        <id column="film_name" property="filmName" />
        <id column="release_date" property="releaseDate" />
        <id column="director" property="director" />
        <id column="actor" property="actor" />
        <id column="poster" property="poster" />
        <id column="introduction" property="introduction" />
        <id column="type_id" property="type_id"/>
        <id column="language" property="language" />
        <id column="duration" property="duration" />
    </resultMap>

    <select id="getFilmById" resultMap="FilmResultMap" parameterType="int">
        select film_id,film_name,release_date,actor,director,poster,introduction,type_id,language,duration from film
        <trim prefix="where" prefixOverrides="and | or">
            <if test="film_id != 0">
                and film_id = #{film_id}
            </if>
        </trim>
    </select>


    <resultMap id="ListFilmResultMap" type="com.mt.film.entity.FilmsDTO">
        <id column="film_id" property="filmId" />
        <id column="film_name" property="filmName" />
        <id column="actor" property="actor" />
        <id column="director" property="director" />
        <id column="poster" property="poster" />
    </resultMap>
    <select id="getFilmList" resultMap="ListFilmResultMap">
        select film_id,film_name,actor,director,poster from film
    </select>

    <select id="getTypeById" resultType="String">
        select type from film_type where type_id = #{type_id}
    </select>
</mapper>


