<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.customer.dao.CustomerDao">
    <resultMap id="customerMap" type="com.mt.pojo.Customer">
        <result column="customer_id" property="customerId"/>
        <result column="customer_name" property="customerName"/>
        <result column="password" property="password"/>
        <result column="permission_id" property="permissionId"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>

    </resultMap>

    <insert id="insertCustomer">
        insert  into customer (customer_id,customer_name,password,permission_id,phone,email,avatar) values (
        #{customer.customerId},#{customer.customerName},#{customer.password},#{customer.permissionId},#{customer.phone},#{customer.email},
        #{customer.avatar} )
    </insert>
    <update id="updateCustomer">
        UPDATE customer SET
        <if test="customer.customerName!=null and customer.customerName!=''">customer_name = #{customer.customerName}</if>
        <if test="customer.permissionId!=null and customer.permissionId!=''">permission = #{customer.permissionId}</if>
        <if test="customer.phone!=null and customer.phone!=''">phone = #{customer.phone}</if>
        <if test="customer.email!=null and customer.email!=''">email = #{customer.email}</if>
        <if test="customer.password!=null and customer.password!=''">password = #{customer.password}</if>
        <if test="customer.avatar!=null and customer.avatar!=''">avatar = #{customer.avatar}</if>
        WHERE customer_id = #{customer.id}
    </update>

    <select id="listAllCustomer" resultType="com.mt.customer.pojo.CustomerListDTO">
        select t1.customer_id,t1.customer_name ,t1.phone,t1.email ,t2.permission from customer as t1 left join permission as t2
        on t1.permissionId=t2.permissionId
    </select>
    <select id="getCustomerById" resultMap="customerMap">
         select * from customer where customer_id= #{customerId}
    </select>
    <select id="getCustomerByName" resultMap="customerMap">
        select * from customer where customer_name= #{customerName}
    </select>
    <select id="getCustomerByPhone" resultMap="customerMap">
         select * from customer where phone= #{phone}
    </select>
    <select id="getCinemaId" resultType="java.lang.Integer">
        select cinema_id as cinemaId from cinema_customer where  customer_id= #{customerId}
    </select>


</mapper>