<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.user.dao.CustomerDao">
    <insert id="insertCustomer"></insert>
    <update id="updateCustomer"></update>
    <update id="updateAvatar"></update>

    <select id="listAllCustomer" resultType="com.mt.user.pojo.Customer"></select>
    <select id="getCustomerById" resultType="com.mt.user.pojo.Customer"></select>
    <select id="getCustomerByName" resultType="com.mt.user.pojo.Customer"></select>
</mapper>