<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.customer.dao.PermissionDao">
<!--    useGeneratedKeys="true" keyProperty="permissionId"-->
    <insert id="insertPermission" >
        INSERT INTO permission  (permission) VALUES #{permissionId}
    </insert>
    <update id="updatePermission">
        update  permission set permission=#{permission} where permission_id =#{permissionId}
    </update>
    <select id="listPermission" resultType="java.lang.String">
        select permission,permission_id as permissionId from permission
    </select>

</mapper>