<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.cinema.dao.CinemaHallDao">
    <insert id="addCinemaHall">
        insert  into cinema_hall(cinema_id,max_seat,hall_name) values(#{cinemaId},#{maxSeat},#{hallName})
    </insert>


    <resultMap id="cinemaHallListDTO" type="com.mt.cinema.entity.CinemaHallDTO">
        <id column="hall_id" property="hallId"></id>
        <id column="hall_name" property="hallName"></id>
    </resultMap>

    <select id="cinemaHallList" resultMap="cinemaHallListDTO">
    select hall_id,hall_name from cinema_hall
    </select>

    <update id="updateCinemaHall">
        update cinema_hall set hall_name=#{hallName},max_seat=#{maxSeat} where hall_id=#{hallId}
    </update>

</mapper>