<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mt.admin.dao.AdminDao">
    <insert id="createCinema" parameterType="com.mt.pojo.Cinema" useGeneratedKeys="true" keyProperty="cinemaId">
        insert into cinema(cinema_name,address,phone) values(#{cinemaName},#{address},#{phone})
    </insert>

    <resultMap id="cinemaDTOResult" type="com.mt.admin.entity.CinemaDTO">
        <id column="cinema_id" property="cinemaId" />
        <id column="cinema_name" property="cinemaName" />
        <id column="address" property="address" />
    </resultMap>
    <select id="getCinemaDTOList" resultMap="cinemaDTOResult">
        select cinema_id,cinema_name,address from cinema
    </select>
    <update id="updateCinema" parameterType="com.mt.pojo.Cinema" >
            update cinema set
             cinema_name=#{cinemaName},
             address=#{address},
             phone=#{phone}
             where cinema_id=#{cinemaId}
        </update>
    <delete id="deleteCinemaById">
        DELETE FROM cinema WHERE cinema_id =#{cinemaId}
    </delete>

    <select id="getCinemaNameById" resultType="String">
        select cinema_name from cinema where cinema_id=#{cinemaId}
    </select>
</mapper>


