server:
  port: 7001

spring:
  application:
    name: mt-eureka

eureka:
  instance:
    prefer-ip-address: true
    instance-id: mt-eureka
  client:
    register-with-eureka: false # 表示是否向eureka注册中心注册自己
    fetch-registry: false #fetch-registry如果为false，则表示自己为注册中心
    service-url:
        # 单机： defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
      defaultZone: http://localhost:7001/eureka/


info:
  app.name: mt-eureka
  company.name: adc.mt.com